form {
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

form,
form input,
form label {
  font-family: "Courier New", Courier, monospace !important;
}

.form-title {
  margin-bottom: 20px;
}

form .fields {
  width: 100%;
  margin-bottom: 30px;
}

form textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
}

.buttons-wrapper {
  display: flex;
  justify-content: right;
}

.buttons-wrapper > button {
  margin-left: 15px;
}

.loading-circular {
  width: 22px !important;
  height: 21px !important;
  color: #212529 !important;
}

/* Alert */
.alert-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.alert {
  border: 0;
  border-radius: 0 !important;
  margin: auto;
  max-width: 1500px;
}

.alert p {
  margin: 0 !important;
}

.error {
  background: #d32f2f;
}

.success {
  background-color: #2E7D32;
}