.gallery-container {
    width: 90%;
    margin: 0 auto;
    height: auto;
    max-width: 2000px;
    overflow: hidden;
}

.gallery-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    height: max-content;
    overflow: hidden;
}

.gallery-column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    width: 25%;
}

.gallery-img-wrapper {
    width: calc(100% - 20px);
    margin: 0 10px 20px 10px;
    overflow: hidden;
    max-height: 550px;
    box-shadow: 0 0 2px 2px #94949488;
}

.gallery-img {
    margin: auto;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

/* #region For specific height */
.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.9s ease-in-out;
    width: 100%;
    overflow: hidden;
    /* flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    max-height: 600px;
    align-items: stretch;*/
}

.gallery-image-wrapper {
    width: 25%;
    overflow: hidden;
    display: flex;
}

.gallery-image {
    margin: auto;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    image-orientation: from-image;
}

/* #endregion */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1080px) {
    .gallery-column {
        -ms-flex: calc(100% / 3);
        /* IE10 */
        flex: calc(100% / 3);
        width: calc(100% / 3);
    }

    .gallery-image-wrapper {
        max-height: 350px;
        width: calc(100% - 14px);
        margin: 0 7px 14px 7px;
    }
}

@media screen and (max-width: 800px) {
    .gallery-container {
        width: 100%;
    }
    
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .gallery-image-wrapper {
        max-height: 450px;
    }
}