.gallery-container {
    width: 75%;
    margin: 0 auto;
    height: 200vh;
    max-width: 2000px;
    overflow: hidden;
}

.gallery-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    height: 200vh;
    overflow: hidden;
}

.gallery-column {
    -ms-flex: calc(100% / 4);
    /* IE10 */
    flex: calc(100% / 4);
    max-width: calc(calc(100% / 4) - 8px);
    padding: 0 4px;
    max-height: calc(100% / 6);
}

.gallery-img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}