/* Header content */
header {
  height: 110px;
  background: url("./../images/header-bg.jpg");
  background-position: top;
  background-size: 100% 230px;
  background-repeat: no-repeat;
}

header > .container {
  height: 100%;
  position: relative;
  border: none !important;
}

header img.logotype {
  height: 50px !important;
  max-width: 50%;
  margin: 30px 0;
}

.header-buttons {
  position: absolute !important;
  right: 10px;
  top: 25px;
  display: flex;
  justify-content: right;
}

.menu-button {
  color: #fff !important;
  border-radius: 50% !important;
  background-color: transparent !important;
}

.header-buttons > button svg {
  font-size: 40px;
  will-change: transform;
  color: #fff !important;
  transition: all 06s ease-in-out;
}

.menu-button svg {
  font-size: 50px !important;
}

.menu-button:hover:not(.menu-open) svg {
  transform: scale(1.05);
}
/* #region Navigation */

/* #endregion */

@media (max-width: 415px) {
  header {
    height: 70px;
  }
  header img.logotype {
    height: 45px !important;
    margin: 12.5px 0;
  }
}
