.container {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

/* #region Menu */
.menu-wrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 300px);
  top: 300px;
  left: 0;
  display: block;
  overflow: hidden;
  transition: all 0.9s ease-in-out;
  background-color: rgba(70, 69, 77, 0.6);
  z-index: 3100;
}

.menu {
  position: fixed;
  width: 98%;
  max-width: 415px;
  top: 200px;
  right: -415px;
  height: calc(100vh - 240px);
  overflow-y: auto;
  display: block;
  background-color: #fff;
  transition: all 0.9s ease-in-out;
  box-shadow: 0 0 1px 1px #ccc;
}

.menu-visible {
  right: 20px;
}

.menu-heading {
  width: auto;
  height: 100px;
  /* background-color: #000314; */
  color: #fff;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
  background: #0e0e0e;
  /* Old browsers */
  background: -moz-linear-gradient(top,
      #0e0e0e 0%,
      #7d7e7d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #0e0e0e 0%,
      #7d7e7d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #0e0e0e 0%,
      #7d7e7d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e', endColorstr='#7d7e7d', GradientType=0);
  /* IE6-9 */
}

.menu-heading>button {
  color: #fff !important;
  font-family: nvd !important;
}

.menu-heading>button:not(.menu-close) {
  font-family: nvd !important;
  font-size: 30px !important;
  letter-spacing: 1px !important;
}

.menu-heading>button:not(.menu-close)>svg {
  margin-right: 15px !important;
}

button.menu-close {
  will-change: transform;
  transition: all 0.6s ease-in-out;
}

button.menu-close:hover {
  color: #c00 !important;
}

.menu-heading>button svg {
  font-size: 50px;
}

.menu-close svg {
  font-size: 30px !important;
}

.menu-heading>button>span {
  vertical-align: middle;
}

.menu-list {
  padding: 10px;
}

.menu-list li {
  margin: 0 auto !important;
  width: 95% !important
}

.menu-list li:hover .css-2s90m6-MuiAvatar-root {
  background-color: #000000 !important;
  cursor: pointer !important;
}

.menu-list li span {
  font-family: nvd !important;
  font-size: 25px !important;
  letter-spacing: 1px !important;
}
/* #endregion */

/* #region Table */
.confirm-alert {
  width: 100%;
  padding: 0 16px !important;
}

.confirm-alert,
.delete-btn {
  height: 50px !important;
}

.confirm-alert>.MuiAlert-message {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-left: 10px;
}

.confirm-alert div {
  margin-bottom: 0 !important;
}

.confirm-buttons {
  padding: 0 auto !important;
  margin: auto 0 !important;
}

.row-buttons {
  padding: 0;
  z-index: 5000 !important;
  margin: auto;
}

/*  #endregion */

/* #region Login, Logout */
.logout-block {
  height: calc(100vh - 300px);
  max-height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 100px auto;
  max-width: 500px;
  font-size: 20px;
  color: #7d7e7d;
  box-shadow: 0 0 1px 1px #7d7e7d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logout-block>div {
  margin: auto;
  text-align: center;
}

.logout-symbol {
  width: 100%;
  flex: none !important;
  display: block !important;
}

.logout-symbol svg {
  font-size: 100px;
  color: #7d7e7d;
}

/* #endregion */


@media(max-width: 485px) {
  .menu {
    top: 120px;
    height: calc(100vh - 140px);
  }

  .menu-visible {
    right: calc((100% - 415px) / 2);
  }
}

@media(max-width: 415px) {
  .menu-visible {
    right: 1%;
  }
}