@font-face {
    font-family: aniversario;
    src: url(../fonts/aniversario.ttf);
}

@font-face {
    font-family: buseta;
    src: url(../fonts/busseta.ttf);
}

@font-face {
    font-family: castor;
    src: url(../fonts/castor.ttf);
}

@font-face {
    font-family: dancing;
    src: url(../fonts/dancing.ttf);
}

@font-face {
    font-family: league;
    src: url(../fonts/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: galvanize;
    src: url(../fonts/galvaniz.ttf);
}

@font-face {
    font-family: whipsnap;
    src: url(../fonts/whipsnap.ttf);
}

@font-face {
    font-family: typewrite;
    src: url(../fonts/typewrite.ttf);
}

@font-face {
    font-family: topic;
    src: url(../fonts/TopicAlternates.ttf);
}

@font-face {
    font-family: sunday;
    src: url(../fonts/SundayHoliday.ttf);
}

@font-face {
    font-family: summer;
    src: url(../fonts/SummersVictoryOverSpring.ttf);
}

@font-face {
    font-family: nvd;
    src: url(../fonts/nvdaasdawadidohi.ttf);
}

@font-face {
    font-family: noodle;
    src: url(../fonts/Noodletee.ttf);
}

@font-face {
    font-family: littlemiss;
    src: url(../fonts/LittleMissPriss.ttf);
}

@font-face {
    font-family: lakershor;
    src: url(../fonts/lakeshor.ttf);
}
@font-face {
    font-family: adalgisa;
    src: url(../fonts/adalgisa.ttf);
}
@font-face {
    font-family: aenositalic;
    src: url(../fonts/aenos-italic.ttf);
}
@font-face {
    font-family: aenoseregular;
    src: url(../fonts/lakeshor.ttf);
}
@font-face {
    font-family: articulate;
    src: url(../fonts/Articulate.ttf);
}
@font-face {
    font-family: bazelikin-heavy;
    src: url(../fonts/bazelikin/Bazelikin-Heavy.ttf);
}
@font-face {
    font-family: coventry;
    src: url(../fonts/CoventryGarden.ttf);
}
@font-face {
    font-family: enough;
    src: url(../fonts/enough.ttf);
}
@font-face {
    font-family: faishal;
    src: url(../fonts/faishal.ttf);
}
@font-face {
    font-family: gadaquali;
    src: url(../fonts/gadaquali.ttf);
}
@font-face {
    font-family: idilica;
    src: url(../fonts/idilica.ttf);
}
@font-face {
    font-family: janedone;
    src: url(../fonts/JaneDoe-PersonalUse.otf);
}
@font-face {
    font-family: menueo;
    src: url(../fonts/Menuetto.ttf);
}
@font-face {
    font-family: oaxaquena;
    src: url(../fonts/Oaxaquena\ Tall.ttf);
}
@font-face {
    font-family: pompiere;
    src: url(../fonts/Pompiere-Regular.ttf);
}
@font-face {
    font-family: smite;
    src: url(../fonts/smiTe.ttf);
}
@font-face {
    font-family: suellen;
    src: url(../fonts/SueEllenFrancisco.ttf);
}
@font-face {
    font-family: talltiny;
    src: url(../fonts/TallTiny-Bold.otf);
}
@font-face {
    font-family: encappln;
    src: url(../fonts/encapsulate/encappln.ttf);
}
@font-face {
    font-family: encapsul;
    src: url(../fonts/encapsulate/encapsul.ttf);
}
@font-face {
    font-family: kgl;
    src: url(../fonts/kgl/KGLoveYouThroughIt.ttf);
}
@font-face {
    font-family: pneumati;
    src: url(../fonts/pneum/pneumati.ttf);
}
@font-face {
    font-family: pneutall;
    src: url(../fonts/pneum/pneutall.ttf);
}
@font-face {
    font-family: pneuwide;
    src: url(../fonts/pneum/pneuwide.ttf);
}
@font-face {
    font-family: vtcs;
    src: url(../fonts/vtcs/VTCSuperMarketSaleDisplay.ttf);
}